.primeiro{
    background: green;
    color: white;
    font-family: arial;
    font-size: 18px
}
.segundo{
    background-color: blue;
    color: white;
    font-family: arial;
    font-size: 18px
}